.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
}
.clouds {
  background-image: url("./components/images/background/cloud.webp");
}
.winter {
  background-image: url("./components/images/background/winter.jpg");
}
.summer {
  background-image: url("./components/images/background/summer.jpg");
}
.components {
  width: 50%;
}
.cardshow {
  margin-top: 40px;
}
