.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./components/images/background/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2018__07__CumulusHumilisCloudsAgainstBlueSky-3bd93f54a7414be58f274c4a37ffa833.webp");
  background-size: cover;
  background-position: center;
}
.components {
  width: 50%;
}
.cardshow {
  margin-top: 40px;
}
